.txt-platzi{
    color: #97c93e !important
}
.colonavar{
    background: #1906c2;
}
.header img{
    width: 100px;
    height: 100px;
}
.colornav{
   background-color: rgb(37, 71, 48);
   background: #1906c2;

}
 
#main .carousel-inner img{
    max-width: 1000vh;
    max-height: 500px;
    object-fit: cover;
    filter: grayscale(70%);
}
#carousel{
    position: relative;
    opacity :15s ease;

}
#carousel .overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

  